@font-face {
  font-family: PixelifySans;
  src: url("../assets/fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf")
    format("truetype");
}

@import "tailwindcss";

@theme {
  --font-PixelifySans: PixelifySans, "sans-serif";
}
